.register {
	height: 450px;
	display: grid;
	place-items: center;
	padding-left: 40px;
	padding-right: 40px;
}

.form_field {
	height: 400px;
	width: 100%;
	box-shadow: 0.2px 0.2px 5px 1px grey;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1.8fr auto 1fr;
}

.divider {
	box-shadow: 0.2px 0.2px 5px 1px grey;
}

.left_field {
	padding: 20px;
	padding-left: 30px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
}

.input_box {
	display: flex;
	align-items: center;
}

.form_input_descriptor {
	min-width: 100px;
	font-size: 20px;
	color: rgb(51, 65, 65);
	text-align: end;
}

.form_input {
	height: 40px;
	width: 250px;
	background: none;
	border: rgb(51, 65, 65);
	box-shadow: 0.2px 0.2px 5px 1px grey;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	color: white;
	font-size: 23px;
	text-align: center;
	margin-left: 50px;
}

.left_field > div:nth-of-type(3) > input {
	margin-left: 43px;
}
